@use "_variables" as *;
@use "_mixins" as *;
@use "_form-mixins" as *;

form {
  margin-top: 40px;
}

.radio-label {
  font-weight: $font-bold;
}

.boomboom-radio-container {
  display: inline-block;

  @include margin-right(30px);
}

.boomboom-select-container {
  margin-bottom: 1rem;
}

input[type="text"] {
  @include boomboom-input-text(100%);
}

.submit-button {
  text-align: end;
}
