{{#> base title=(t "New BoomBoom version available")}}
  <p>
    {{t "A new version of BoomBoom is available: {latestVersion}." latestVersion=latestVersion}}

    {{{t "You can check the latest news on <a href=\"https://joinboomboom.org/news\">JoinBoomBoom</a>."}}}
  </p>
{{/base}}
