<div class="m-create">
  <!-- header -->
  <div class="m-cr-head">
    <button class="m-cr-back" (click)="back()">
      <my-global-icon iconName="chevron-left"></my-global-icon>
    </button>
    <span class="m-cr-title" i18n="@@boomboom.m.create.header">Creator Studio</span>
    <span class="m-cr-spacer"></span>
  </div>

  @if (!isLoggedIn) {
    <div class="m-cr-loginwrap">
      <span class="m-cr-loginhint" i18n="@@boomboom.m.create.loginNeeded">Log in to create.</span>
      <a routerLink="/m/login" class="m-cr-cta" i18n="@@boomboom.m.create.login">Log in</a>
    </div>
  } @else {
    <!-- upload your own -->
    <button class="m-cr-upload" (click)="goUpload()">
      <div class="m-cr-upload-ic"><my-global-icon iconName="add"></my-global-icon></div>
      <div class="m-cr-upload-txt">
        <div class="t" i18n="@@boomboom.m.create.uploadOwn">Upload your own drama</div>
        <div class="s" i18n="@@boomboom.m.create.uploadOwnSub">Pick a video from your phone</div>
      </div>
      <span class="m-cr-chev">›</span>
    </button>

    <!-- import from 短剧工坊 -->
    <div class="m-cr-section">
      <div class="m-cr-sec-head">
        <span class="m-cr-sec-title" i18n="@@boomboom.m.create.importTitle">Import from 短剧工坊</span>
        @if (connected()) {
          <button class="m-cr-disc" (click)="disconnect()" i18n="@@boomboom.m.create.disconnect">Disconnect</button>
        }
      </div>

      @if (!connected()) {
        <div class="m-cr-connect">
          <div class="m-cr-connect-hint" i18n="@@boomboom.m.create.connectHint">Connect your 短剧工坊 account to import the videos you generated there.</div>
          <input class="m-cr-in" type="text" [(ngModel)]="username" placeholder="短剧工坊 账号" i18n-placeholder="@@boomboom.m.create.userPlaceholder" />
          <input class="m-cr-in" type="password" [(ngModel)]="password" (keydown.enter)="connect()" placeholder="密码" i18n-placeholder="@@boomboom.m.create.pwPlaceholder" />
          <button class="m-cr-connect-btn" [disabled]="connecting()" (click)="connect()">
            @if (connecting()) { <ng-container i18n="@@boomboom.m.create.connecting">Connecting…</ng-container> }
            @else { <ng-container i18n="@@boomboom.m.create.connect">Connect</ng-container> }
          </button>
        </div>
      } @else {
        <div class="m-cr-connected">
          <my-global-icon iconName="tick"></my-global-icon>
          <span i18n="@@boomboom.m.create.connectedAs">Connected as</span>&nbsp;<b>{{ duanjuUsername() }}</b>
        </div>

        @if (loadingWorks()) {
          <div class="m-cr-note" i18n="@@boomboom.m.common.loading">Loading…</div>
        } @else if (works().length === 0) {
          <div class="m-cr-note" i18n="@@boomboom.m.create.noWorks">No finished videos yet in 短剧工坊.</div>
        } @else {
          <div class="m-cr-works">
            @for (w of works(); track w.episodeId) {
              <div class="m-cr-work">
                <div class="m-cr-work-cover" [style.background-image]="w.coverUrl ? 'url(' + w.coverUrl + ')' : ''">
                  @if (!w.coverUrl) { <my-global-icon iconName="videos"></my-global-icon> }
                </div>
                <div class="m-cr-work-meta">
                  <div class="m-cr-work-title">{{ w.title }}</div>
                  <div class="m-cr-work-proj">{{ w.projectName }}</div>
                </div>
                <button class="m-cr-work-import" [disabled]="importingId() !== null" (click)="importWork(w)">
                  @if (importingId() === w.episodeId) { <ng-container i18n="@@boomboom.m.create.importing">Importing…</ng-container> }
                  @else { <ng-container i18n="@@boomboom.m.create.import">Import</ng-container> }
                </button>
              </div>
            }
          </div>
        }
      }
    </div>
  }
</div>
